@{
    ViewData["TitrePage"] = "Service en ligne des plans régionaux d’effectifs médicaux";
}
<div role="group" class="collection">

    <p>Bienvenue dans le site des services en ligne destiné aux départements régionaux de médecine générale (DRMG) et au comité paritaire.</p>
    <p>Les services en ligne constituent la voie de communication privilégiée entre la Régie de l’assurance maladie du Québec et ses partenaires du réseau de la santé et des services sociaux. La Régie met à votre disposition l’application sur les plans régionaux d’effectifs médicaux (PREM) afin de vous soutenir dans la gestion et le suivi de l’entente particulière sur les PREM.</p>
    <p>Pour obtenir plus de renseignements, n’hésitez pas à joindre l’équipe de support aux services en ligne :</p>
    <ul>
        <li>
            Par téléphone (Faites le « 1 » pour les services en ligne)<br /><br />
            <ul>
                <li>
                    Québec : 418 643-8210
                </li>
                <li>
                    Montréal : 514 873-3480
                </li>
                <li>
                    Ailleurs au Québec (sans frais) : 1 800 463-4776<br /><br />
                </li>
            </ul>
            <b>Heures d’ouverture</b><br />
            Lundi, mardi, jeudi et vendredi : 8 h 30 à 16 h 30 <br />
            Mercredi : 10 h 30 à 16 h 30 <br /><br />
        </li>        
        <li>
            Par courriel : <a href="mailto:sel.professionnels@ramq.gouv.qc.ca">sel.professionnels@ramq.gouv.qc.ca</a>
        </li>
    </ul>

</div>




