<ul class="nav">
    <li>
        <a href="#" data-toggle="collapse" data-target="#menuPolitiques" class="collapsed"><span class="glyphicon glyphicon-info-sign"></span> Politiques</a>
        <ul class="nav collapse sub" id="menuPolitiques">
            <li>
                <a href="http://www.ramq.gouv.qc.ca/fr/Pages/accessibilite.aspx" target="_blank"> Accessibilité <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            </li>
            <li>
                <a href="http://www.ramq.gouv.qc.ca/fr/regie/Pages/acces-information.aspx" target="_blank">Accès à l'information <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            </li>
            <li>
                <a href="http://www.ramq.gouv.qc.ca/fr/regie/Pages/declaration-services-citoyens.aspx" target="_blank">Déclaration de services <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            </li>
            <li><a href="http://www.ramq.gouv.qc.ca/fr/regie/Pages/insatisfaction.aspx" target="_blank">Insatisfaction <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            <li>
                <a href="http://www.ramq.gouv.qc.ca/fr/Pages/politique-confidentialite.aspx" target="_blank">Politique de confidentialité <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            </li>
            <li>
                <a href="http://www.ramq.gouv.qc.ca/fr/regie/Pages/politique-linguistique.aspx" target="_blank">Politique linguistique <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            </li>
            <li>
                <a href="http://www.ramq.gouv.qc.ca/fr/Pages/securite.aspx" target="_blank">Sécurité <span class="sr-only">Cet hyperlien ouvrira une nouvelle fenêtre</span><i class="fa fa-external-link"></i></a>
            </li>
        </ul>
    </li>
</ul>