<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ActiverOptimisation" value="false" />

  <!--Clés pour la simulation-->
  <add key="SimulationLieuGeographique" value="NON" />
  <add key="SimulationAvisConformite" value="NON" />
  <add key="SimulationProfessionnel" value="NON" />
  <add key="SimulationDroitAcquis" value="NON" />
  <add key="SimulationConsultationProfilProfessionnel" value="NON" />
  <add key="SimulationGabaritPDFConfirmation" value="NON" />
  <add key="SimulationRapport" value="NON" />
   
  <!--Pour être en tant qu'un DRMG ou autre, ajouter des _ dans les value des clé-->
  <add key="PRE_CnsulProfiProf" value="ggp_appli" />
  <add key="PRE_SaisAvisConfDRMG" value="ggp_appli" />
  <add key="PRE_SaisDecisComtParit" value="ggp_appli" />
  <add key="PRE_CnsulSuppo" value="ggp_appli" />
  <add key="PRE_CnsulRapport" value="ggp_appli" />
  <add key="PRE_CreerDemReeva" value="ggp_appli" />


  <add key="UrlEPL4" value="http://www4.unit.ramq.gov/FIP/EPL4_SelectionnerProfilAgent/SelectionnerProfilAgent/EPL4_SelectionnerProfilAgent" />
  <add key="UrlEPL4Intra" value="http://intranet4.unit.ramq.gov/FIP/EPL4_SelectionnerProfilAgent/SelectionnerProfilAgent/EPL4_SelectionnerProfilAgent"/>


  <add key="AfficherMenuPLA1" value="true"/>
  <add key="AfficherMenuPLA2" value="true"/>
  <add key="AfficherMenuPLC1" value="true"/>
  <add key="AfficherMenuPLC2" value="true"/>
  <add key="AfficherOngletRPPR" value="true"/>
  <add key="AfficherMenuPLC1RPPR" value="true"/>
  
</appSettings>