<client>
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServSaisAvisConf.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcSaisAvisConf.IServSaisAvisConf"
            name="ServSaisAvisConf" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServLieuxGeographiques.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcLieuxGeographiques.IServLieuxGeographiques"
            name="ServLieuxGeographiques" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_ETR_RechrProf_svc/ServRechrProf.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegratedRecherche"
            contract="svcRechrProf.IServRechrProf"
            name="ServRechrProf" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC2_CnsulProfiPremqProf_svc/ServCnsulProfiPremqProf.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcCnsulProfiPremqProf.IServCnsulProfiPremqProf"  />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLC_ObtnDroitAcqProf/PLC1_ETR_ObtnDroitAcqProf_svc/ServObtnDroitAcqProf.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcObtnDroitAcqProf.IServObtnDroitAcqProf"
            name="ServObtnDroitAcqProf" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLA_GererAvisConf/PLA1_SaisAvisConf_svc/ServSecurite.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcSecurite.IServSecurite"
            name="svcSecurite" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLA_GererAvisConf/PLA2_SaisDecisAvisConf_svc/ServSaisDecisAvisConf.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcSaisDecisAvisConf.IServSaisDecisAvisConf"
            name="ServSaisDecisAvisConf" />
  <endpoint address="http://nlb-urg-app4/agsapp/YR/YRD_ModulComunExptn/YRD1_RechrRegleAcces_ws/RechrRegleAcces.asmx"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcRechrRegleAcces.RechrRegleAccesSoap"
            name="RechrRegleAccesSoap" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLC_EffectuerSuiviPremq/PLC1_CnsulRappPremq_svc/ServCnsulRappPremq.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcCnsulRapp.IServCnsulRappPremq"
            name="ServCnsulRappPremq" />
  <endpoint address="http://nlb-urg-app4/PREAPP/PL/PLE_GererReevaProf/PLE1_CreerDemReeva_svc/ServCreerDemReeva.svc"
            binding="basicHttpBinding"
            bindingConfiguration="BindingAuthIntegrated"
            contract="svcCreerDemReeva.IServCreerDemReeva"
            name="ServCreerDemReeva" />
</client>