<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AdresseExpediteur" value="messagerie.securisee@ramq.gouv.qc.ca" />
    <add key="AdresseDestinataire" value="BP0508@ramq.gouv.qc.ca" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.PRE.PRE_FournAccesDonne_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.12.0" newVersion="1.0.12.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COD1_V4OutilBase_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.6.0" newVersion="2.8.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COD2_V4GestCache_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COC1_V4DonneComne_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.PRE.PRE_Entites_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.152.0" newVersion="1.0.152.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.PRE.PRE_OutilComun_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.58.0" newVersion="1.0.58.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NSubstitute" publicKeyToken="92dd2e9066daa5ca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.10.0.0" newVersion="1.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="xunit.core" publicKeyToken="8d05b1bb7a6fdb6c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.3179" newVersion="2.1.0.3179" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.PRE.PRE_AccesDonne_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.129.0" newVersion="1.0.129.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.PRE.PRE_SysExt_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.36.0" newVersion="1.0.36.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COC2_V4FournAccesDonne_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COE1_V4Documents_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.21.0" newVersion="2.0.21.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.AGS.YRY3_FournCleChifm_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.1.0" newVersion="2.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>