<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="L2-Princ.RAMQ.COM.COC1_V4DonneComne" version="2.2.2" targetFramework="net452" />
  <package id="L2-Princ.RAMQ.COM.COC2_V4FournAccesDonne" version="2.3.1" targetFramework="net452" />
  <package id="L2-Princ.RAMQ.COM.COD1_V4OutilBase" version="2.8.6" targetFramework="net452" />
  <package id="L2-Princ.RAMQ.COM.COD2_V4GestCache" version="2.2.1" targetFramework="net452" />
  <package id="L2-Princ.RAMQ.COM.COE1_V4Documents" version="2.0.22" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net452" />
  <package id="Princ.RAMQ.AGS.YRY3_FournCleChifm" version="2.1.1" targetFramework="net452" />
  <package id="Princ.RAMQ.COM.COD1_JetonAuthn" version="1.2.3" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PL_LogiqueAffaire" version="1.0.66" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PL_RegleAffaiComne" version="1.0.47" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PLB3_CalculerNbrJrFactProfs" version="1.0.102" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PRE_AccesDonne" version="1.0.136" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PRE_Entites" version="1.0.152" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PRE_FournAccesDonne" version="1.0.12" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PRE_OutilComun" version="1.0.58" targetFramework="net452" />
  <package id="Princ.RAMQ.PRE.PRE_SysExt" version="1.0.37" targetFramework="net452" />
  <package id="System.IdentityModel.Tokens.Jwt" version="4.0.2.206221351" targetFramework="net452" />
</packages>