<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COD1_V4OutilBase_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.8.4.0" newVersion="2.8.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COC2_V4FournAccesDonne_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.3.1.0" newVersion="2.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.COM.COD2_V4GestCache_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RAMQ.AGS.YRY3_FournCleChifm_cpo" publicKeyToken="55a03a2af569717d" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.2.0" newVersion="2.0.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>