@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div role="group" class="collection">
        <div class="row">
            <button id="btnMAJCache" name="singlebutton" class="btn btn-primary btn-success">MAJ</button>
        </div>
    </div>
}

