<appSettings>
  <add key="PRE_CnsulProfiProf" value="EGGAP_PRE_Fonct"/>
  <add key="PRE_SaisAvisConfDRMG" value="EGGAP_PRE_Fonct"/>
  <add key="PRE_SaisDecisComtParit" value="EGGAP_PRE_Fonct" />
  <add key="PRE_CnsulSuppo" value="GLAP_PRE_Fonct"/>
  <add key="PRE_CnsulRapport" value="EGGAP_PRE_Fonct"/>
  <add key="PRE_CreerDemReeva" value="GLAP_PRE_Fonct;EGGAP_PRE_Fonct"/>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ActiverOptimisation" value="true" />

  <!--Clés pour la simulation-->
  <add key="SimulationLieuGeographique" value="NON" />
  <add key="SimulationAvisConformite" value="NON" />
  <add key="SimulationProfessionnel" value="NON" />
  <add key="SimulationDroitAcquis" value="NON" />
  <add key="SimulationConsultationProfilProfessionnel" value="NON" />

  <add key="UrlEPL4" value="http://www4.fonct.ramq.gov/FIP/EPL4_SelectionnerProfilAgent/SelectionnerProfilAgent/EPL4_SelectionnerProfilAgent"/>
  <add key="UrlEPL4Intra" value="http://intranet4.fonct.ramq.gov/FIP/EPL4_SelectionnerProfilAgent/SelectionnerProfilAgent/EPL4_SelectionnerProfilAgent"/>


  <add key="AfficherMenuPLA1" value="true"/>
  <add key="AfficherMenuPLA2" value="true"/>
  <add key="AfficherMenuPLC1" value="true"/>
  <add key="AfficherMenuPLC2" value="true"/>
  <add key="AfficherOngletRPPR" value="true"/>
  <add key="AfficherMenuPLC1RPPR" value="true"/>

</appSettings>